.main-header, .header-inner, .cart-info-section, .header-search-form { line-height:6; transition:line-height 0.4s ease 0s; -webkit-transition:line-height 0.4s ease 0s; -ms-transition:line-height 0.4s ease 0s; -o-transition:line-height 0.4s ease 0s;}


.main-header{transition: background 0.4s ease 0s, height 0.4s ease 0s; z-index:10; background:transparent; width:100%; -webkit-transition: background 0.4s ease 0s, height 0.4s ease 0s; -ms-transition: background 0.4s ease 0s, height 0.4s ease 0s; -o-transition: background 0.4s ease 0s, height 0.4s ease 0s;}

header {left: 0; position: absolute; top: 0; width: 100%;}



/*====== Main header ======*/

.main-header{ height:100px;  padding: 10px 0; width:100%; float:left; position:relative; background:#FFF;}

.main-container { float: left;  overflow: hidden;  width: 100%; position:relative; min-height:100vh;}
.logo-css { font-family: fantasy; font-size: 27px; line-height: 54px !important; letter-spacing: 0.7px;
	text-align: center;}

/* ===== Search Css ==== */

.header-search-form {overflow: hidden; position: relative; float:left;}
.header-search-form i {font-size: 1.3em; margin-left: 1px;}

.header-search-form i, .header-search-form input { vertical-align: middle;}

.header-search-form input { border:none; font-size: 1em; min-width: 200px; outline: medium none; padding: 10px 20px; line-height:normal;}

.header-search-form span {border-top: 1px solid rgb(217, 83, 77); bottom: 0; left: -300px; position: absolute; width: 100%;}
.header-search-form input:focus + span { left: 0;}

/*===== Logo Css ====== */

.logo-css {max-width: 230px; margin:0 auto;}
.dropdown-menu > li:focus, .dropdown-menu > li:hover { background-color: rgb(245, 245, 245); color: rgb(38, 38, 38); }
.total strong {float: left;}
.total .amount { float: right;}


/*================= Header Right Css ================*/

.pull-right.user-info-section > ul > li { display: inline-block; position:relative; line-height:6; }

.counting {background: #f35958; border-radius: 50%;color: #fff;display: inline !important;float: none !important;font-size: 13px;height: 18px;left: 10px;line-height: 18px !important;
margin: 0 8px 0 0;position: absolute;text-align: center;top: -11px;width: 18px;}

.cart-info-section { line-height: 6; text-align: right; width: 100%; color:#323232;}
.pull-right.cart-info-section > ul > li { display: inline-block; line-height: 6;  position: relative; margin: 0 0 0 20px;}

.cart-info-section .dropdown-toggle {  font-size: 15px;}
.cart-info-section ul li span { display: block; float: left; line-height: normal;}
.cart-name, .user-name{ position: relative; vertical-align: middle; width: 20px;}
.cart-info-section i { font-size: 18px;}

.cart-info-section .btn-group.open > .dropdown-menu::before { border-bottom: 7px solid rgb(255, 255, 255); border-left: 7px solid rgba(0, 0, 0, 0); border-right: 7px solid rgba(0, 0, 0, 0); content: ""; height: 0; right: -1px; position: absolute; top: -8px;  width: 0;}

.cart-info-section .btn-group.open > .dropdown-menu { background: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); display: block; min-width: 300px;  padding: 10px 20px; top: 190%;  width: 100%;  border-radius: 4px 0 4px 4px; left: -274px; }

.btn-group.open > .dropdown-menu.account-info-css { border: 1px solid rgb(255, 255, 255); left: -174px;  min-width: 200px;  padding: 6px;  top: 88%;  width: 100%;}

.btn-group.open > .dropdown-menu.account-info-css > li { margin: 0 0 5px;  padding: 2px 0;}
.cart-info-section .dropdown-menu.account-info-css li:hover { background: rgb(239, 242, 243) ;}
.cart-info-section .dropdown-menu.cart-info-notification-css > li { margin: 0 0 12px; float:left; width:100%; padding: 5px;}
.cart-info-section li .notification-left { width: 17%; float:left;}
.cart-info-section li .notification-right { width: 76%; float:right;}
.notification-right h4 {color: rgb(27, 30, 36); font-size: 13px; font-weight: 500; margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;  word-break: break-all;}
.counting.not-count {background: rgb(10, 166, 153);}

.notification-right p { margin: 3px 0 0; font-size: 13px; }

.notification-right a { float: left;}
.notification-right .cross-css {float: right; font-size: 10px;}
.notification-right i {font-size: 10px;}
.variation {margin: 0 10px 0 0;}
.total, .cart-info-section .buttons {float: left; width: 100%; line-height:normal;}
.buttons .button { display: block; margin-bottom: 10px; text-align: center;}
.total { margin: 20px 0;}

.dropdown-menu.account-info-css a { white-space: normal; font-size:13px;}
.dropdown-menu.account-info-css > li { margin: 0 0 5px;  padding: 2px 0;}
.btn-group.open > .dropdown-menu.account-info-css > li.divider {border-top: 1px solid rgb(238, 238, 238); padding: 0;}
.dropdown-menu.account-info-css > li:last-child {margin: 0;}
.account-info-css i{ float: left;  margin: 3px 6px 0 0; font-size:14px;}
.header-user-login img {border-radius: 50%; height: 35px; width: 35px;  margin: 0 0 15px;}

.cart-info-section .dropdown-toggle::after{ display:none;}


/*========== Notification Css =========*/

.user-info-section .btn-group.open > .dropdown-menu.notification-css {background: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); display: block; left: -412%; min-width: 350px;
  padding: 10px 20px; top: 180%; width: 100%;}
.main-notification {display: block; margin: 0 0 15px; overflow: hidden; width: 100%;}
.main-notification .remaining-notification { font-size: 15px; font-weight: 500; line-height: 2;}
.main-notification .view-all-notification {float: right;}
.cart-info-section .btn-group.open .dropdown-menu.notification-css a { border-radius: 5px; color: rgb(139, 145, 160); display: block;  font-size: 12px;  line-height: normal; overflow: hidden; padding: 7px 15px;  position: relative;  text-align: left;}
.cart-info-section .btn-group.open .dropdown-menu.notification-css a { background: rgb(254, 242, 242);}
.cart-info-section .btn-group.open .dropdown-menu.notification-css a:hover {background: rgb(250, 225, 225); border-radius: 5px;}
.cart-info-section .btn-group.open .dropdown-menu.notification-css li:nth-child(2n) a {background: rgb(237, 247, 252);}
.cart-info-section .btn-group.open .dropdown-menu.notification-css li:nth-child(2n) a:hover {background: rgb(216, 235, 244);}
.cart-info-section .btn-group.open .dropdown-menu.notification-css > li:hover { background: rgba(0, 0, 0, 0);}


.notification-left {width: 17%;}
.cart-info-section .notification-css img {border-radius: 50%; height: 35px; width: 35px;}
.notification-right {width: 82%;}
.cart-info-section .btn-group.open .dropdown-menu.notification-css a { color: rgb(139, 145, 160); font-size: 12px; line-height: normal;  text-align: left;}
.cart-info-section .btn-group.open > .dropdown-menu.notification-css{ min-width: 350px;}
.dropdown-menu.notification-css > li {clear: both; margin: 0 0 10px;}
.cart-info-section .btn-group .dropdown-menu.notification-css .view-all-notification > a {background: rgb(83, 209, 146); color: rgb(255, 255, 255);}
.cart-info-section  .btn-group .dropdown-menu.notification-css .view-all-notification > a:hover { background: rgb(10, 166, 153) none repeat scroll 0 0;}
.notification-css .notification-right p { font-size: 12px; }
.cart-info-section .btn-group.open > .dropdown-menu.notification-css {left: -324px;}



/*================= Main nav Css ================*/


.main-navigation { border-bottom: 1px dashed rgb(220, 208, 199); position: relative;  z-index: 5; float:left; width:100%; background:none;} 

.desktop-navigation .menu { list-style: outside none none; margin: 0; padding: 0;  text-align: center;}
.desktop-navigation .menu > li { display: inline-block; position: relative;}
.desktop-navigation .menu > li.has-menu > a::after { content: "\f107";  display: inline-block;  font-family: "FontAwesome";  margin-left: 10px;  vertical-align: middle;}

.desktop-navigation .menu li > a{ color: #fff;  display: block;  font-size: 0.785714em;  font-weight: 700;  letter-spacing: 1px;  padding: 20px;  text-decoration: none;  text-transform: uppercase;  white-space: nowrap;}



.desktop-navigation .sub-menu  { background-color: rgb(255, 255, 255);  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);  left: 0;  list-style: outside none none;  margin: 0;  opacity: 0;  position: absolute;  text-align: left;  padding: 30px; display:none;}

.desktop-navigation li:hover .sub-menu{ display:block; }


.desktop-navigation .product-image-css{ background-image: url(../images/2.jpg); background-size: contain; padding-right: 200px; background-position: right bottom; background-repeat: no-repeat;}

.desktop-navigation li:hover .sub-menu, .desktop-navigation li:hover .children{ opacity: 1;}

.desktop-navigation .sub-menu > li { border-bottom: medium none !important;  display: table-cell;  max-width: 100%;  min-width: 250px;  padding: 10px;}

.desktop-navigation .sub-menu > li > a{border-bottom: 2px solid rgb(151, 72, 68);font-size: 0.857143em;font-weight: 700 !important;letter-spacing: 1px;margin-bottom: 10px;padding: 15px 10px;text-transform: uppercase; color:#323232;}

.desktop-navigation .children { background-color: rgba(0, 0, 0, 0);  box-shadow: none;  left: 0;  opacity: 1;  padding: 0;  position: relative;  top: 0; }

.desktop-navigation .children li:not(:last-child) { border-bottom: 1px solid rgba(70, 70, 70, 0.1);}

.desktop-navigation .menu li .children a { color: rgb(88, 87, 87);  line-height: 1.7;  padding: 10px;  white-space: normal;}

.desktop-navigation .children i{ color:rgb(217, 83, 77); margin:0 10px 0 0;}
.desktop-navigation .menu li .children a:hover{background-color: rgb(217, 83, 77);   color: rgb(255, 255, 255);}
.desktop-navigation .menu li .children a:hover i{color: rgb(255, 255, 255);}

/*================= Sticky Header Css ================*/

.fixed-header {background: rgba(0, 0, 0, 0.87);  height: 80px; }
.fixed-header .logo-css, .fixed-header .header-inner, .fixed-header .header-search-form{ line-height: 4;}

.fixed-header .logo-css {max-width: 160px;}
.fixed-header .cart-info-section .btn-group.open > .dropdown-menu{ top:216%;}
.fixed-header .btn-group.open > .dropdown-menu.account-info-css{top:112%;}
.main-header.change-top-bar{ background:#000;}





/*================= Toggle Menu Css ================*/

.dropdown_toggle {border-right: 1px solid rgb(227, 227, 227); float: left; left: 0.6%; opacity: 0;  padding: 0 14px 46px 0;  position: absolute;  top: -8%;  width: auto;}
.toggle-menu { border-radius: 2px;  color: rgb(0, 0, 0);  cursor: pointer;  height: 40px;  left: 0;  position: relative;  top: 24px;  width: 45px;}

.open-toggle {background: rgb(255, 255, 255);  border-radius: 5px;  bottom: 0; height: 3px;  left: 10px;  padding: 0;  position: absolute;  text-indent: -1150px;  top: 9px;  width: 25px; -webkit-box-shadow: 0 9px 0 0 rgb(255, 255, 255), 0 18px 0 0 rgb(255, 255, 255); -ms-box-shadow: 0 9px 0 0 rgb(255, 255, 255), 0 18px 0 0 rgb(255, 255, 255); -o-box-shadow: 0 9px 0 0 rgb(255, 255, 255), 0 18px 0 0 rgb(255, 255, 255); -moz-box-shadow: 0 9px 0 0 rgb(255, 255, 255), 0 18px 0 0 rgb(255, 255, 255); box-shadow: 0 9px 0 0 rgb(255, 255, 255), 0 18px 0 0 rgb(255, 255, 255);}

.fixed-header .dropdown_toggle{ opacity:1;}
.common-panel{background: #454954;  height: 100%;  position: fixed;  width: 260px;  z-index: 9999;   overflow-y: scroll;  }
.common-body-css{}

.main-body::after {background: rgba(0, 0, 0, 0.4); content: ""; cursor: pointer; height: 0; opacity: 0; position: absolute; right: 0; top: 0; transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s; -webkit-transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s; -o-transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s; -ms-transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s; -moz-transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s;  width: 0;  z-index: 9999;}

.common-body-css::after {height: 100%; opacity: 1; transition: opacity 0.5s ease 0s; -o-transition: opacity 0.5s ease 0s; -ms-transition: opacity 0.5s ease 0s; -moz-transition: opacity 0.5s ease 0s; -webkit-transition: opacity 0.5s ease 0s; width: 100%;}





/* ==== Left Panel Slide ==== */

.body-left, .main-body{transition:all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; -webkit-transition:all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; -o-transition:all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; -ms-transition:all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; -moz-transition:all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;}


.body-left{transform:translateX(-260px); -o-transform:translateX(-260px); -webkit-transform:translateX(-260px); -ms-transform:translateX(-260px);  box-shadow:-1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25) inset; -webkit-box-shadow:-1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25) inset; -o-box-shadow:-1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25) inset; -ms-box-shadow:-1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25) inset; }

.slide-body-left{ transform:translateX(0px); -webkit-transform:translateX(0px); -o-transform:translateX(0px); -ms-transform:translateX(0px); }	

.main-body{ float:left; width:100%;}

.main-body-slideleft{transform:translateX(260px); -webkit-transform:translateX(260px); -o-transform:translateX(260px); -ms-transform:translateX(260px);}
.common-panel .slide-toggle > li {  line-height: 40px;   width: 100%;}


.common-panel .slide-toggle > li >a:hover{ background:#585C65}

.header-inner > ul > li > a:hover{ opacity:1;}

.common-panel .slide-toggle a {  color: #fff;  font-size: 15px; display:block;  padding: 0 0 0 24px; opacity:0.9; overflow:hidden;}

.common-panel .slide-toggle { margin: 24px 0 0; float:left; width:100%;}

.common-panel .slide-toggle i { font-size: 17px;  margin: 0;  padding: 0 16px 0 0;}
.common-panel .slide-toggle .glyphicon.glyphicon-picture, .common-panel .slide-toggle .glyphicon.glyphicon-send { font-size: 15px;  }

.common-panel .main-title-login{ border-bottom: 1px solid #535865;  color: rgba(255, 255, 255, 0.4);  display: block;  font-size: 16px;  font-weight: 400;  margin: 34px 15px 0;  padding: 0 0 3px;}

.common-panel button.btn.btn-group-lg { border-radius: 2px;  margin: 24px 24px 0;  background: #ea6a49;border-bottom: 3px solid #d85640;border-radius: 4px;color: #fff;font-size: 15px;padding: 10px 24px; text-transform: uppercase;}

.common-panel button.btn.btn-group-lg:hover{ background:#cc4e2e;}

.common-panel button.btn.btn-group-lg.tasks-buuton{ background:#0aa699; border-bottom: 3px solid #2a767e; padding:10px 33px;}

.common-panel button.btn.btn-group-lg.tasks-buuton:hover{ background:#4BB7C3; border-bottom: 3px solid #2a767e;}

.common-panel .title-css-main { display: block;  margin: 0 35px;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;  width: 162px;  word-break: break-all;}

.common-panel .slide-toggle li i.icon-facebook { margin: 0;  padding: 0 25px 0 0;}

.common-panel ul li ul { display: none; }
.toggle-sub-menu {margin: 0 0 0 30px;}
.toggle-children { padding: 0 0 0 20px;}
.common-panel .toggle-sub-menu a {font-size: 14px;}
.common-panel .toggle-children a{ font-size:13px;}
.common-panel .toggle-children a {border-bottom: 1px solid #5c5c5c; font-size: 13px; margin: 0 14px 0 20px;  padding: 0 10px;}
.common-panel .toggle-children a:hover{ background:#585C65;}
.common-panel .slide-toggle > li.active >a:hover{ background:transparent;}

.common-panel li.active {background: #343841; }


.slide-toggle > li.has-menu > a::after { content: "\f107";  display: inline-block;  font-family: "FontAwesome";  margin-right: 20px;  vertical-align: middle; float:right;}
.slide-toggle > li.active.has-menu > a::after { content: "\f106"; font-family: "FontAwesome"; }


/*================= Inner Pages Header Css ================*/

.inner-page-header {background: rgba(0, 0, 0, 0.5);  color: rgb(255, 255, 255);}
.inner-page-header .header-search-form input{ background:rgba(0, 0, 0, 0);}
.inner-page-header .header-search-form span{ border-top: 1px solid rgb(255, 255, 255);}
.inner-page-header .cart-info-section .btn-group > a{color: rgb(255, 255, 255);}





.inner-page-header .hide-logo{ display:none;}
.inner-page-header .header-inner > ul > li > a.active, .inner-page-header .header-inner > ul > li > a, .inner-page-header .user-info-section .dropdown-toggle {color: #000;}

.for-tablet .dropdown_toggle, .left-content-beforelogin .header-search-form{ display:none;}








/*==== Footer Css ====*/

footer { background: rgb(14, 14, 14); color: rgb(51, 51, 51); overflow: hidden;}
footer a:hover{ color:rgb(151, 72, 68);}
footer .footer-inner {margin: 0 auto; overflow: hidden; padding-top: 60px;}
.footer-column { float: left;  margin-bottom: 15px;  margin-right: 30px; font-family:helvetica;} 
footer a{ color:rgb(170, 170, 170); font-size: 13px; padding-bottom: 7px;  padding-top: 7px; display:block; }
footer .footer-column a {transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s; -webkit-transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s; -ms-transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s; -o-transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;}

footer h4 {color: rgb(255, 255, 255);font-size: 17px; font-weight: normal; letter-spacing: 1px;  margin: 0; padding: 0 0 18px;  text-transform: uppercase; font-family:karla; font-weight:500;}


footer .footer-column a::before {color: rgb(102, 102, 102); content: "\f105"; cursor: pointer; display: inline-block; font-family: 'FontAwesome'; font-size: 13px; line-height: 20px;  margin-right: 5px;}

.logo-link {border: 1px solid rgb(102, 102, 102); display: block; font-family: Helvetica; font-size: 29px; padding: 10px 0; text-align: center; width: 100%; color:#fff;}

footer address {border: medium none; color: rgb(153, 153, 153); display: block; font-size: 13px; font-style: normal; line-height: 1.5em; margin: 10px auto 5px; padding-bottom: 5px; padding-top: 5px; text-align: center;}
footer address em::before { margin: 0 !important;}
footer address div { display: block;  overflow: hidden;  padding-bottom: 10px;  text-align: left;}
.footer-bottom {background-color: rgb(6, 6, 6); margin: auto; overflow: hidden; padding: 18px 0; width: 100%; border-top:1px solid rgb(51, 51, 51);}
footer .coppyright {color: rgb(102, 102, 102); float: left; line-height:34px;}
footer ul {margin: 0; padding: 0;}
.footer-bottom .company-links li {border-bottom: medium none; display: inline-block; float: left; list-style: outside none none; margin-left: 20px;}
.footer-bottom a {color: rgb(153, 153, 153);}
.footer-bottom a:hover{ color:rgb(151, 72, 68);}
footer address em { float: left;  font-size: 16px !important;  margin: 0 4px 0 0;  width: 10%;}
footer address span {  display: inline-block;  float: right;  width: 88%;}
.co-info span a { padding: 0;}



/*========= Tab Css ==========*/

.tabpanel-container{ display:none;}
.show-tab{ display:block;}


/*========= back top top Css ==========*/

#back-to-top { text-align:center; background-color: rgba(20, 20, 20, 0.4); bottom: -80px; cursor: pointer; height: 50px; opacity: 0; padding: 9px 13px 7px; position: fixed; right: 10px; width: 50px; z-index: 1000;}

#back-to-top i {color: rgb(255, 255, 255); display: block; font-size: 24px; line-height: 32px; margin: 0 auto; width: 24px;}


/*============= Notification Popup Css ============*/

.notification-popup::after {background: rgba(0, 0, 0, 0.8); content: ""; display: block; height: 100%; position: absolute; top: 0; width: 100%; z-index: 9999;}
.notification-popup {bottom: 0; height: 100%; left: 0; margin: 0 auto; position: fixed; top: 0; transform: translateY(0%); width: 100%; z-index: 9999;}
.note-popup-css {background: #fff; border-radius: 3px; font-size: 20px; margin: 9em auto; padding: 20px 20px 30px; position: relative; text-align: center; width: 30%; z-index: 99999;}
.close-notification-css {position: absolute; right: 10px; top: 8px; cursor:pointer}

.close-notification-css .icon-close {font-size: 28px;}
.controls a {width: 100%; padding:7px 15px; background:rgb(151, 72, 68); color:#fff; text-align:center;}
.note-popup-css > h4 {font-size: 22px; margin: 0 0 25px; text-transform: uppercase;}
.note-popup-css .input-group { width: 100%;}
.notification-popup .form-control { height: 40px;  width: 100%;}
.note-popup-css .form-group { margin-bottom: 20px;}

.note-popup-css > p {font-size: 14px; margin: 0 0 30px; text-align: left;}




@media (max-width:1330px){
	
	.header-search-form{ margin-left:10px;}
	}
	
@media (max-width:1280px){
	
	.header-search-form{ margin-left:30px;}
	
	}
	
@media (max-width:1230px){
	
	.header-search-form{ margin-left:60px;}
	
	}		

@media (max-width:1200px){
	
	.note-popup-css{ width:40%;}
	}



@media (max-width:991px){

.main-navigation, .header-search-form{ display:none;}
.main-header .container{ width: 100%;}
.header-icons-css {margin: 10px 0 0;}

.main-header .container {padding: 0;}

.body-left .header-search-form{ display:block; margin-left:0; color:#fff; line-height:normal;}
.header-search-form input { background: rgba(0, 0, 0, 0); border:none;  color: rgb(255, 255, 255); font-size: 16px; min-width: 220px; }
.header-search-form span { border-top: 1px solid rgb(255, 255, 255);}
.header-search-form i {margin-left: 8px;}

.dropdown_toggle, .fixed-header .dropdown_toggle{ opacity:1; height:auto; position:absolute; top:0; border-right:none; z-index:9; left: 5%;}	
.main-header {height: auto;  padding: 10px 0 0;}	
.header-icons-css { float: left; padding: 0; position: static; width: 100%; background:#F9F6F4;}	
.pull-right.cart-info-section > ul > li.btn-group.header-user-login{position: absolute; top: 0; right: 7%; width:auto; line-height:6; padding:0; border-right:none;}
.cart-info-section .btn-group.header-user-login > a i{ color:#323232;}

.pull-right.cart-info-section > ul > li.btn-group {border-right: 1px solid rgb(128, 128, 128); float: none; line-height: normal; margin: 0; padding: 4px 0; text-align: center; width: 32%;}
.pull-right.cart-info-section > ul { background: rgb(0, 0, 0); color: rgb(255, 255, 255);}

.cart-info-section ul li span { display: inline-block; float: none;  line-height: normal;}
.cart-info-section .btn-group > a  i{ color: rgb(255, 255, 255);}
.cart-info-section {line-height: 4;}

.cart-info-section .btn-group.open > .dropdown-menu{color: rgb(50, 50, 50);left: auto;right: 16%;top: 110%;}
.cart-info-section .btn-group.open > .dropdown-menu.notification-css { left: -6%;right: 0;top: 110%;}
.cart-info-section .btn-group.open > .dropdown-menu::before{ border:none;}		
.cart-info-section .dropdown-toggle { position:relative;}	
.btn-group.open > .dropdown-menu.account-info-css {left: auto; right: 0; top: 72%;}		


footer .coppyright { line-height: 20px;}
.footer-inner .col-lg-3.col-xl-3.col-md-3.col-sm-3 { width: 33%;}

.footer-inner .address-info { float: none; margin: 20px auto;  overflow: hidden;  width: 50% !important;}



.note-popup-css{ width:50%;}



	}


@media (max-width:767px){
	
	.social-feed-css i {font-size: 50px;}
	.footer-inner .col-lg-3.col-xl-3.col-md-3.col-sm-3 {width: 50%; float:left;}
	.footer-bottom ul.links, footer .coppyright{ text-align:center;}
	.footer-bottom .company-links li{ float:none;}
	.cart-info-section .btn-group.open > .dropdown-menu.notification-css { left: -22%;}
	.note-popup-css{ width:60%;}
	}

@media (max-width:500px){
.note-popup-css{ width:100%;}	
	
}

@media (max-width:480px){
	
.cart-info-section .btn-group.open > .dropdown-menu.notification-css {left: -86%; min-width: 300px;}	
.main-notification .remaining-notification {font-size: 13px;}	
.cart-info-section .btn-group.open > .dropdown-menu {right: 34%;}	
.btn-group.open > .dropdown-menu.account-info-css{ top:100%;}	
.dropdown_toggle, .fixed-header .dropdown_toggle{ left:0;}
footer .coppyright { margin: 0 0 10px;}
.footer-inner .col-lg-3.col-xl-3.col-md-3.col-sm-3 { width: 100%;}
.footer-inner .address-info { width: 100% !important;}	



	}
















