@charset "UTF-8";

@font-face {
  font-family: "line";
  src:url("../fonts/line.eot");
  src:url("../fonts/line.eot?#iefix") format("embedded-opentype"),
    url("../fonts/line.woff") format("woff"),
    url("../fonts/line.ttf") format("truetype"),
    url("../fonts/line.svg#line") format("svg");
  font-weight: normal;
  font-style: normal; 

}
[data-icon]:before {
  font-family: "line" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "line" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-middle:before {
  content: "\e000";
}
.icon-align-right:before {
  content: "\e001";
}
.icon-arrow:before {
  content: "\e002";
}
.icon-battery:before {
  content: "\e003";
}
.icon-bell:before {
  content: "\e004";
}
.icon-blank:before {
  content: "\e005";
}
.icon-bluetooth:before {
  content: "\e006";
}
.icon-browser:before {
  content: "\e007";
}
.icon-camera:before {
  content: "\e008";
}
.icon-cart:before {
  content: "\e009";
}
.icon-chat:before {
  content: "\e00a";
}
.icon-check-mark:before {
  content: "\e00b";
}
.icon-clock:before {
  content: "\e00c";
}
.icon-close:before {
  content: "\e00d";
}
.icon-cocktail:before {
  content: "\e00e";
}
.icon-compass:before {
  content: "\e00f";
}
.icon-connection:before {
  content: "\e010";
}
.icon-cursor:before {
  content: "\e011";
}
.icon-display:before {
  content: "\e012";
}
.icon-download:before {
  content: "\e013";
}
.icon-drop:before {
  content: "\e014";
}
.icon-empty-blank:before {
  content: "\e015";
}
.icon-flag:before {
  content: "\e016";
}
.icon-forward:before {
  content: "\e017";
}
.icon-forward-2:before {
  content: "\e018";
}
.icon-gift:before {
  content: "\e019";
}
.icon-graphic:before {
  content: "\e01a";
}
.icon-grid:before {
  content: "\e01b";
}
.icon-hamburger-menu:before {
  content: "\e01c";
}
.icon-headphones:before {
  content: "\e01d";
}
.icon-heart:before {
  content: "\e01e";
}
.icon-home:before {
  content: "\e01f";
}
.icon-hyperlink:before {
  content: "\e020";
}
.icon-justify-all:before {
  content: "\e021";
}
.icon-key:before {
  content: "\e022";
}
.icon-label:before {
  content: "\e023";
}
.icon-launch:before {
  content: "\e024";
}
.icon-lock-closed:before {
  content: "\e025";
}
.icon-lock-open:before {
  content: "\e026";
}
.icon-magnet:before {
  content: "\e027";
}
.icon-magnifying-glass:before {
  content: "\e028";
}
.icon-magnifying-glass-2:before {
  content: "\e029";
}
.icon-magnifying-glass-minus:before {
  content: "\e02a";
}
.icon-magnifying-glass-plus:before {
  content: "\e02b";
}
.icon-mail:before {
  content: "\e02c";
}
.icon-map:before {
  content: "\e02d";
}
.icon-map-pin:before {
  content: "\e02e";
}
.icon-maximize:before {
  content: "\e02f";
}
.icon-microphone:before {
  content: "\e030";
}
.icon-minimize:before {
  content: "\e031";
}
.icon-minus:before {
  content: "\e032";
}
.icon-mouse:before {
  content: "\e033";
}
.icon-music:before {
  content: "\e034";
}
.icon-navigation:before {
  content: "\e035";
}
.icon-notifications:before {
  content: "\e036";
}
.icon-pause:before {
  content: "\e037";
}
.icon-pencil:before {
  content: "\e038";
}
.icon-play:before {
  content: "\e039";
}
.icon-plus:before {
  content: "\e03a";
}
.icon-power:before {
  content: "\e03b";
}
.icon-print:before {
  content: "\e03c";
}
.icon-repeat:before {
  content: "\e03d";
}
.icon-rule:before {
  content: "\e03e";
}
.icon-selection:before {
  content: "\e03f";
}
.icon-settings:before {
  content: "\e040";
}
.icon-share:before {
  content: "\e041";
}
.icon-shuffle:before {
  content: "\e042";
}
.icon-sound-minus:before {
  content: "\e043";
}
.icon-sound-plus:before {
  content: "\e044";
}
.icon-speaker:before {
  content: "\e045";
}
.icon-star:before {
  content: "\e046";
}
.icon-statistics:before {
  content: "\e047";
}
.icon-stop:before {
  content: "\e048";
}
.icon-sun:before {
  content: "\e049";
}
.icon-trash-bin:before {
  content: "\e04a";
}
.icon-umbrella:before {
  content: "\e04b";
}
.icon-upload:before {
  content: "\e04c";
}
.icon-video-camera:before {
  content: "\e04d";
}
.icon-wifi:before {
  content: "\e04e";
}
.icon-winner:before {
  content: "\e04f";
}
.icon-user:before {
  content: "\e050";
}
.icon-tag2:before {
  content: "\e051";
}
.icon-pie:before {
  content: "\e052";
}
.icon-filter:before {
  content: "\e053";
}
.icon-clock-1:before {
  content: "\e054";
}
.icon-bag:before {
  content: "\e055";
}
.icon-align-left:before {
  content: "\e056";
}
.icon-arrow-left:before {
  content: "\e057";
}
.icon-close-1:before {
  content: "\e058";
}
.icon-cloth:before {
  content: "\e059";
}
.icon-like:before {
  content: "\e05a";
}
.icon-location:before {
  content: "\e05b";
}
.icon-minus-1:before {
  content: "\e05c";
}
.icon-plus-1:before {
  content: "\e05d";
}
.icon-speedometer:before {
  content: "\e05e";
}
.icon-quick-view:before {
  content: "\e05f";
}
.icon-stopwatch:before {
  content: "\e060";
}
.icon-notification:before {
  content: "\e061";
}
.icon-notification2:before {
  content: "\e062";
}
.icon-help:before {
  content: "\e063";
}
.icon-arrow-left2:before {
  content: "\e064";
}
.icon-bolt:before {
  content: "\e065";
}
.icon-arrow-right:before {
  content: "\e066";
}
.icon-calender:before {
  content: "\e067";
}
.icon-arrow-right2:before {
  content: "\e068";
}
.icon-arrow-up:before {
  content: "\e069";
}
.icon-art:before {
  content: "\e06a";
}
.icon-card:before {
  content: "\e06b";
}
.icon-art2:before {
  content: "\e06c";
}
.icon-attachment:before {
  content: "\e06d";
}
.icon-badge:before {
  content: "\e06e";
}
.icon-tag1:before {
  content: "\e06f";
}
.icon-anchor:before {
  content: "\e070";
}
.icon-alt:before {
  content: "\e071";
}
.icon-archive:before {
  content: "\e072";
}
.icon-arrow-left2-1:before {
  content: "\e073";
}
.icon-arrow-right2-1:before {
  content: "\e074";
}
.icon-bag2:before {
  content: "\e075";
}
.icon-clipboard:before {
  content: "\e076";
}
.icon-arrow-up2:before {
  content: "\e077";
}
.icon-arrow-down2:before {
  content: "\e078";
}
.icon-wishlist:before {
  content: "\e079";
}
.icon-help2:before {
  content: "\e07a";
}
.icon-attachemnt2:before {
  content: "\e07b";
}
.icon-grid2:before {
  content: "\e07c";
}
.icon-gift2:before {
  content: "\e07d";
}
.icon-list2:before {
  content: "\e07e";
}
.icon-list3:before {
  content: "\e07f";
}
.icon-packaging:before {
  content: "\e080";
}
.icon-search3:before {
  content: "\e081";
}
.icon-style:before {
  content: "\e082";
}
.icon-style2:before {
  content: "\e083";
}
.icon-google-fill:before {
  content: "\e084";
}
.icon-linkedin-fill:before {
  content: "\e085";
}
.icon-facebook-fill:before {
  content: "\e086";
}
.icon-stumbleupon-fill:before {
  content: "\e087";
}
.icon-pinterest-fill:before {
  content: "\e088";
}
.icon-twitter-fill:before {
  content: "\e089";
}
.icon-phone:before {
  content: "\e08a";
}
